<nav class="navbar navbar-dark bg-dark flex-md-nowrap shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out1</a>
    </li>
  </ul>
</nav>
<main class="pt-5">
    <router-outlet></router-outlet>
</main>

